---
input_file: "data/util_data.csv"
output_file: "output/simple_scaling.csv"
metrics_output_file: "output/simple_scaling_metrics.csv"
metrics: True
initial_allocated_cores:
process_data_func: 'process_util_data'
application_start_time:
  min: 9
  max: 12
policies:
  use: "simple_scaling"
  simple_scaling:
    src: "src/policies/simple_scaling_policy.R"
    func: "simple_scaling_policy"
    lower_bound: 25
    upper_bound: 50
    step_type: "cores"
    up_step_size: 16
    down_step_size: 4
    min_cap: 32
    max_cap: 240
    evaluation_period: 5
    cooldown: 6
  target_tracking:
    src: "src/policies/target_tracking_policy.R"
    func: "target_tracking_policy"
    target_value: 50
    min_cap: 8
    max_cap: 64
    scale_in_threshold: 10
    vm_cores: 4
    cooldown:
      up: 4
      down: 6
